# Basic gitignore template for Hugo
#
# This is a template .gitignore file for git-managed Hugo projects.
#
# Fact: you don't want Hugo core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.


#OS
.DS_Store


content/blogs
themes/*
archetypes/*

