# Basic gitignore template for Hugo
#
# This is a template .gitignore file for git-managed Hugo projects.
#
# Fact: you don't want Hugo core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.


#OS
.DS_Store

# Ignore everything in the "content" directory,
# and "themes" directories.
content/blogs
themes/*
archetypes/*
public/*
static/*


# uncomment below if you dont want to load static img resources
# !static/img

# uncomment below if you are migrating from WordPress
# static/wp-content/*